@import '../../../scss/variables.scss';
@import '../../../scss/to-rem.scss';

.single-contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: to-rem(100);
    padding-bottom: to-rem(15);
    &__text{
        color: $color-white;
        font-weight: $font-weight-l;
        text-decoration: none;
        font-size: $font-size-s;
        margin-right: to-rem(10);
    }
}