@import '../../scss/variables.scss';
@import '../../scss/to-rem.scss';

.contacts{
    background-color: $color-main;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.4s linear;
       -moz-transition: height 0.4s linear;
        -ms-transition: height 0.4s linear;
         -o-transition: height 0.4s linear;
            transition: height 0.4s linear;
    &--active{
        height: 200px;
        -webkit-transition: height 0.4s linear;
           -moz-transition: height 0.4s linear;
            -ms-transition: height 0.4s linear;
             -o-transition: height 0.4s linear;
                transition: height 0.4s linear;
    }
}